<h1> <%= @genre.name %> Novels</h1>
<%= link_to 'Edit Genre', edit_genre_path(@genre), class: "btn btn-primary"%>

<p> <%= @genre.description %> </p>

<ol>
  <% @genre.books.each do |b| %>
    <li> <%= link_to b.title, book_path(b) %> </li>
  <% end %>
</ol>
