<h1>All Created Reading Lists
  <% if params[:user_id] %>
    by <%= User.find_by_id(params[:user_id]).email %>
  <% end %>
</h1>

<%= link_to 'New List', new_user_reading_list_path(current_user), class: "btn btn-primary"%>

<ol>
  <% @reading_lists.each do |list| %>
    <li>
      <%= link_to list.name, reading_list_path(list), class:"list" %>
      <% if params[:user_id].nil? %>
        | Created by <%= link_to list.user.email, user_path(list.user) %>
      <% end %>
    </li>
  <% end %>
</ol>
