<h1> <%= @reading_list.name %> </h1>
<%= link_to 'Add to List', edit_user_reading_list_path(@reading_list), class: "btn btn-primary"%>

<ol>
  <% @reading_list.books.each do |b| %>
    <li> <%= link_to b.title, book_path(b) %> </li>
  <% end %>
</ol>
