<h1> <%= @readinglist.name %> </h1>
<%= link_to 'Add to List', edit_reading_list_path(@readinglist), class: "btn btn-primary"%>

<ol>
  <% @readinglist.books.each do |b| %>
    <li> <%= link_to b.title, book_path(b) %> </li>
  <% end %>
</ol>
