<h1>All Authors</h1>
<% if current_user.admin? %>
  <%= link_to 'New Author', new_author_path, class: "btn btn-primary"%>
<% end %>

<ul>
  <% @authors.each do |a| %>
    <li>
      <div id ="authorname">
      <%= link_to a.name, author_path(a) %>
    </div>
    Total Number of Books Published: <%= a.books.count %>
  </li>
  <% end %>
</ul>
