// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#booktitle {
  font-weight :bold;
  font-size: 19px;
}

li {
  padding: 0px 0px 7px 0px;
}
.container {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 10px;
}
.one {
    width: 55%;
    height: 100%;
    float: left;
}
.two {
    margin-left: 25%;
    height: 200px;
}
