<h1>Hello, <%= current_user.email %>! </h1>

<% if current_user.reading_lists.empty? %>
  <h2>You have no reading lists created!</h2>
  <p> Create one here! <p>
<% else %>
  <h2>Your Reading Lists</h2>
  <ol>
    <% current_user.reading_lists.each do |list| %>
      <li><%= list.name %> </li>
    <% end %>
  </ol>
<% end %>

<p> Create a new list!</p>
